# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.sqlite3
.env
venv/
.env.*

# Node
node_modules/
npm-debug.log
yarn-error.log

# Logs
*.log

# Mac
.DS_Store

# VSCode
.vscode/

# Docker
*.pid
*.seed

# Build
dist/
build/

# Otros
*.swp